input{
    color: aquamarine;
    padding: 10px;
    outline: none;

    &.searcBck{
        background-color: rgb(178, 104, 9);
    }
    &.passBck{
        background-color: rgb(3, 48, 3);
    }


}

